.previewVideoContainer {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 160px;
    min-width: 160px;
    min-height: 90px;
    height: 90px;
    cursor: pointer;
    border-radius: 16px;
    overflow: hidden;
}

.previewVideoContainer :global(.p-image.p-component) {
}

.previewVideoContainer:hover {
    background-color: black;
}
.previewVideoContainer:hover .hoverVideo {
    opacity: 1;
}

.hoverVideo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    min-width: 160px;
    min-height: 90px;
    height: 90px;
    position: absolute;
    background-color: var(--primary-color-text);
    filter: opacity(0.7);
    font-size: 3rem !important;
    opacity: 0;
    transition: opacity 0.3s;
}

.previewImage {
    cursor: pointer;
    width: 160px;
    min-width: 160px;
    min-height: 90px;
    height: 90px;
}

.previewImage > img {
    width: 160px;
    min-width: 160px;
    min-height: 90px;
    height: 90px;
}

.duration {
    position: absolute;
    display: flex;
    justify-content: center;
    font-size: 12px;
    padding: 4px 0 8px 0;
    background-color: var(--primary-color-text);
    filter: opacity(0.7);
    width: 100%;
    bottom: 0;
}

@media screen and (max-width: 600px) {
    .previewVideoContainer, .hoverVideo, .previewImage, .previewImage > img {
        width: calc(0.8*160px);
        min-width: calc(0.8*160px);
        min-height: calc(0.8*90px);
        height: calc(0.8*90px);
    }
}