.commentItemContainer {
    padding: 8px 16px;
    background: var(--highlight-bg);
    border-radius: 12px;
    gap: 8px;
    display: flex;
    flex-direction: column;
}

.avatarAuthorTextContainer {
    display: flex;
    gap: 8px;
}

.authorText {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.avatar {
    border-radius: 50%;
}

.author {
    color: var(--gray-300);
    font-size: 12px;
    display: flex;
    align-items: center;
}

.answerBtn {
    padding: 0 !important;
    width: max-content;
    color: var(--text-color-secondary) !important;
    text-decoration: underline;
    font-size: 14px !important;
}

.answerBlock {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-left: 24px;
}

.textarea {
    width: 100%;
    resize: none;
}

.answerBtnInChild {
    align-self: flex-end;
    padding: 0 !important;
    width: max-content;
    text-decoration: underline;
    font-size: 14px !important;
}

.btnsContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.childrenComments {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-left: 24px;
    margin-top: 12px;
}

.quotedComment {
    padding: 4px 4px 4px 24px;
    font-size: 10px;
    border-radius: 8px;
    margin-bottom: 4px;
    background-color: var(--highlight-bg);
}

.likesBlock {
    display: flex;
    align-items: center;
    gap: 4px;
}

.likesBlock > button, .likesBlock > button > span {
    font-size: 12px;
    padding: 0 2px !important;
}

.commentText {
    font-size: 14px
}