.subscribeBlock {
    display: flex;
    align-items: center;
    border: 1px solid var(--gray-500);
    padding: 2px 4px;
    border-radius: 6px;
    background-color: var(--highlight-bg);
}

.count {
    font-size: 12px;
    color: var(--text-color-secondary);
}

.verticalLine {
    width: 1px;
    margin: 0 4px;
    height: 12px;
    background-color: var(--text-color-secondary);
}

.btn {
    padding: 0 !important;
    font-size: 12px !important;
}