.mainVideoRangeContainer {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 42px;
    height: 16px;
    padding: 2px 0 4px 0;
    cursor: pointer;
    z-index: 2;
}

.mainVideoRangeWrapper {
    background-color: rgb(128, 128, 128);
    height: 8px;
    width: 100%;
    position: relative;
}

.activeRange {
    height: 8px;
    background-color: red;
    position: relative;
}

.passiveRange {
    display: none;
    position: absolute;
    top: 0;
    background-color: lightgray;
    height: 8px;
}

.mainVideoRangeContainer:hover .passiveRange {
    display: inherit;
}

.rangeSlider {
    width: 16px;
    height: 16px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    cursor: pointer;
}

.timeTooltip {
    height: 24px;
    min-width: 32px;
    font-size: 12px;
    border-radius: 12px;
    padding: 2px 8px;
    background-color: rgba(0, 0, 0, 0.7);;
    color: var(--text-color);
    position: absolute;
    transform: translateX(-50%);
    bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: openTooltip 50ms;
}

@keyframes openTooltip  {
    0% {opacity: 0;}
    80% { opacity: 0;}
    100% {opacity: 1;}
}