.avatarContainer {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: max-content;
    cursor: pointer;
    border-radius: 16px;
    overflow: hidden;
}

.avatarContainer :global(.p-image.p-component) {
}

.avatarContainer:hover {
    background-color: black;
}
.avatarContainer:hover .editAvatar {
    opacity: 1;
}

.editAvatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    font-size: 3rem !important;
    opacity: 0;
    transition: opacity 0.3s;
}