.page {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 16px 64px;
    gap: 12px;
}

.titleContainer {
    display: flex;
    align-items: center;
    gap: 12px;
}

.title {
    padding: 0;
}

.avatar {
    border-radius: 50%;
}

@media screen and (max-width: 800px) {
    .page {
        padding: 12px
    }
}