.page {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 16px 64px;
    gap: 12px;
}

.searchResult {
    text-decoration: underline;
}

@media screen and (max-width: 800px) {
    .page {
        padding: 12px;
    }
}