.addVideoContent {
    padding: 12px 0;
}

.addVideoContentContainer {
    padding: 16px 32px;
}

.steps {
    padding: 0 8px;
    width: 100%;
    overflow: hidden;
}

.steps :global(li:not(.p-steps-current)) {
    display: none;
}