.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.textarea {
    width: 100%;
    resize: none;
}

.addCommentBtn {
    align-self: flex-end;
    width: max-content;
}