.addVideMain {
    padding: 24px 48px;
}

.container {
    margin-top: 32px;
    width: max-content;
}

.checkboxContainer {
    transform: translateY(-8px);
}

@media screen and (max-width: 800px) {
    .addVideMain {
        padding: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container > div {
        flex-direction: column;
        align-items: center;
    }
}