.mainSearchContainer {
    display: flex;
}

.searchBtn {
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

.searchInput {
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
}