.navigationHeader {
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color-text);
    width: 100%;
    padding: 4px 12px;
    z-index: 4;
}

.rightNavBlock {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 800px) {
    .rightNavBlock {
        display: none;
    }
}