.videoItemContainer {
    display: flex;
    border: 1px solid var(--text-color-secondary);
    padding: 8px;
    justify-content: space-between;
    width: 100%;
}

.mainContent {
    width: 100%;
    display: flex;
    gap: 8px;
    overflow: hidden;
}

.videoInfo {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: calc(100% - 168px);
}

.ellipsis {
    width: calc(100% - 168px - 56px);
}

.videoName {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    color: var(--text-color);
}

.videoName:hover {
    text-decoration: underline;
}

.description {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.description, .uploadTime {
    color: var(--text-color) !important;
    font-size: 12px;
}

.uploadTime {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.verticalLine {
    width: 1px;
    margin: 0 4px;
    height: 12px;
    background-color: var(--text-color-secondary);
}

.author {
    color: var(--text-color);
    font-size: 12px;
}

.avatar {
    border-radius: 50%;
    cursor: pointer;
}

.tags {
    display: flex;
    gap: 4px;
}

.tag {
    padding: 0 4px !important;
    height: 20px !important;
}

.videoItemButtons {
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
}

.privateVideo {
    padding: 0 4px !important;
    height: 20px !important;
    width: max-content;
}

@media screen and (max-width: 800px) {
    .author {
        display: none;
    }
    .videoInfo {
        width: calc(100% - 168px - 56px);
    }
}

@media screen and (max-width: 600px) {
    .videoInfo {
        width: calc(100% - 8px - 0.8*160px);
    }
}

@media screen and (max-width: 500px) {
    .videoName {
        font-size: 14px;
    }
    .description, .author, .uploadTime {
        font-size: 10px;
    }
    .tags {
        display: none;
    }
}