.addVideMain {
    padding: 24px 48px;
}

.title {
    padding: 8px 16px 8px 40px;
}

.loginBtn {
    margin-top: 24px;
}

.formContainer {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    width: max-content;
    gap: 32px;
}

@media screen and (max-width: 800px) {
    .addVideMain {
        padding: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .formContainer {
        flex-direction: column;
        align-items: center;
    }
}