.videoContainer {
    position: relative;
    width: 100%;
}

.videoContainer:hover .opacity {
    opacity: 1;
}

.opacity {
    opacity: 0;
}

.controls {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    background-color: rgba(0, 0, 0, 0.7);
}

.right, .left {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px;
}

.range {
    margin-right: 12px
}

.mainRange {
    position: absolute;
    bottom: 48px;
    width: 100%;
    cursor: pointer;
    min-height: 12px;
    z-index: 100000;
}

.playbackRates :global(.p-dropdown-trigger) {
    width: max-content !important;
    padding: 0 4px;
}

.playbackRates :global(.p-dropdown-label.p-inputtext) {
    padding: 4px 4px 4px 4px;
    font-size: 12px;
}

.panelPlaybackRates :global(.p-dropdown-item) {
    padding: 4px 12px !important;
    font-size: 12px;
}

.panelPlaybackRates :global(.p-dropdown-items-wrapper) {
    max-height: none !important;
}

.controlBtn {
    padding: 4px !important;
    display: flex;
    width: 24px !important;
    justify-content: center;
    align-items: center;
}

.times {
    display: flex;
    align-items: center;
    gap: 6px;
}

@media screen and (max-width: 800px) {
    .times {
        font-size: 12px;
    }
    .left, .right {
        gap: 4px;
        padding: 4px;
    }
    .controls {
        gap: 0;
    }
}

@media screen and (max-width: 420px) {
    .times > span {
        font-size: 10px;
    }
}