.page {
    display: flex;
    max-width: 100%;
    align-items: flex-start;
    gap: 12px;
    padding: 16px 16px 64px 64px;
}

.mainPart {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 73%;
    flex-grow: 2;
}

.relatedVideosPart {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-width: 350px;
}

.descriptionPanel {
    width: 100%;
    margin-top: 24px;
    margin-bottom: 24px;
}

.likesAndAuthor {
    width: 100%;
    justify-content: space-between;
}

.avatar {
    border-radius: 50%;
}

.videoContentContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--highlight-bg);
    padding: 12px;
    border-radius: 12px;
    font-size: 14px;
    gap: 8px;
}

.title {
    align-self: flex-start;
    padding: 0 16px 8px 40px;
}

.tags {
    display: flex;
    gap: 4px;
}

.tag {
    padding: 0 4px !important;
    height: 20px !important;
}

@media screen and (max-width: 1100px) {
    .page {
        padding: 12px;
    }
}

@media screen and (max-width: 900px) {
    .mainPart {
        max-width: 100%;
    }
    .relatedVideosPart {
        display: none;
    }
}