.commentItemContainer {
    padding: 8px 16px;
    background: var(--highlight-bg);
    border-radius: 12px;
    gap: 8px;
    display: flex;
    flex-direction: column;
}

.commentText {
    font-size: 14px
}

.avatar {
    border-radius: 50%;
}

.author {
    color: var(--gray-300);
    font-size: 12px;
}

.answerBtn {
    padding: 0 !important;
    width: max-content;
    color: var(--text-color-secondary) !important;
    text-decoration: underline;
    font-size: 14px !important;
}

.replyBlock {
    border-radius: 6px;
    display: flex;
    gap: 4px;
    background: var(--highlight-bg);
    padding: 4px 12px 4px 4px;
    font-size: 12px;
}

.quote {
    display: flex;
    flex-direction: column;
    gap: 4px;
}