.sidebar :global(.p-sidebar-content) {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.sidebar :global(.p-sidebar-header) {
    justify-content: flex-start !important;
    height: 52px !important;
    padding: 0 12px !important;
}

.sideMenu {
    width: 100% !important;
}

.avatar {
    border-radius: 50%;
}

.subscribeMenuItem {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    padding: 0.5rem 1.25rem;
}

.subscribeMenuItem:hover {
    background-color: var(--surface-c);
}