.resetPasswordPage {
    padding: 24px 48px;
}

.title {
    padding: 8px 16px 8px 40px;
}

.formContainer {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex-wrap: wrap;
    width: max-content;
}

.input {
    width: 280px;
}