.content {
    flex-direction: column;
    align-items: center;
    padding: 16px 32px;
}

.textarea, .textareaContainer {
    width: 100%;
    height: 200px;
}

.inputContainer {
    width: 50%;
}

.input {
    width: 100%;
}
.input ul {
    width: 100%;
}

.row {
    width: 100%;
}

.isPrivateCheckbox {
    align-self: flex-start;
    margin-bottom: 12px;
}

@media screen and (max-width: 800px) {
    .content {
        padding: 0;
    }
    .row {
        display: flex;
        flex-direction: column;
    }
    .inputContainer {
        width: 100%;
    }
}